<a href="https://colab.research.google.com/github/diazonic/NLP-Classifier-using-Tensorflow-2.0/blob/master/Vader_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Sentiment Analysis : Normal ML,Lexicon
# Sklearn - String value to Numerical value without the change in meaning
# TextBlob - 
# Affin
# Vader

In [2]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 3.2MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [3]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
vs =  SentimentIntensityAnalyzer()

In [ ]:
a = 'He is smart,handsome and funny'

In [ ]:
c = vs.polarity_scores(a)
c

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.58, 'pos': 0.42}

In [ ]:
-1 to 1
# CS >=0.05  = Positive
# CS >-0.05 and CS <0.05 = Neutral
# CS <=-0.05 = Negative

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/diazonic/Machine-Learning-using-sklearn/master/Datasets/amazonreviews.tsv',sep='\t')
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [ ]:
df.shape

(10000, 2)

In [ ]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [ ]:
b = df.iloc[0]['review']

In [ ]:
vs.polarity_scores(b)['compound']

0.9454

In [ ]:
#lambda

In [ ]:
df['compound_pred'] = df['review'].apply(lambda x: vs.polarity_scores(x)['compound'])

In [ ]:
df.head()

  label                                             review  compound_pred
0   pos  Stuning even for the non-gamer: This sound tra...         0.9454
1   pos  The best soundtrack ever to anything.: I'm rea...         0.8957
2   pos  Amazing!: This soundtrack is my favorite music...         0.9847
3   pos  Excellent Soundtrack: I truly like this soundt...         0.9814
4   pos  Remember, Pull Your Jaw Off The Floor After He...         0.9840

In [ ]:
# Assignment: Create another new column named Predicted Sentiment 
If score>0, pos
If score<0 , neg

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   10000 non-null  object
 1   review  10000 non-null  object
dtypes: object(2)
memory usage: 156.4+ KB

In [ ]:
df.describe()

        label                                             review
count   10000                                              10000
unique      2                                              10000
top       neg  A must-have for any theological library: This ...
freq     5097                                                  1

In [ ]:
df['word_count'] = [len(text.split()) for text in df.review]

In [5]:
df

     label                                             review
0      pos  Stuning even for the non-gamer: This sound tra...
1      pos  The best soundtrack ever to anything.: I'm rea...
2      pos  Amazing!: This soundtrack is my favorite music...
3      pos  Excellent Soundtrack: I truly like this soundt...
4      pos  Remember, Pull Your Jaw Off The Floor After He...
...    ...                                                ...
9995   pos  A revelation of life in small town America in ...
9996   pos  Great biography of a very interesting journali...
9997   neg  Interesting Subject; Poor Presentation: You'd ...
9998   neg  Don't buy: The box looked used and it is obvio...
9999   pos  Beautiful Pen and Fast Delivery.: The pen was ...

[10000 rows x 2 columns]

In [ ]:
df = df[df.word_count < 50]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3089 entries, 10 to 9998
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       3089 non-null   object
 1   review      3089 non-null   object
 2   word_count  3089 non-null   int64
dtypes: int64(1), object(2)
memory usage: 96.5+ KB

In [ ]:
df = df.drop(columns=['word_count'], axis=1)

KeyError: ignored

In [ ]:
df

     label                                             review
10     neg  The Worst!: A complete waste of time. Typograp...
19     neg  sizes recomended in the size chart are not rea...
34     neg  Nothing you don't already know: If you have ev...
38     neg  Doesn't work on a Mac: It clearly says on line...
42     pos  Alaska sourdough: REad most of the book while ...
...    ...                                                ...
9982   neg  great movie massacred by tape quality: One of ...
9989   pos  classic: i got this for my dad. it is super cr...
9990   pos  Psychological thriller!: This movie really sca...
9991   pos  A little more money than what I expected to sp...
9998   neg  Don't buy: The box looked used and it is obvio...

[3089 rows x 2 columns]

In [ ]:
df = df.set_index(np.arange(len(df)))
df

     label                                             review
0      neg  The Worst!: A complete waste of time. Typograp...
1      neg  sizes recomended in the size chart are not rea...
2      neg  Nothing you don't already know: If you have ev...
3      neg  Doesn't work on a Mac: It clearly says on line...
4      pos  Alaska sourdough: REad most of the book while ...
...    ...                                                ...
3084   neg  great movie massacred by tape quality: One of ...
3085   pos  classic: i got this for my dad. it is super cr...
3086   pos  Psychological thriller!: This movie really sca...
3087   pos  A little more money than what I expected to sp...
3088   neg  Don't buy: The box looked used and it is obvio...

[3089 rows x 2 columns]

In [ ]:
import string
punctuations = list(string.punctuation)
punctuations

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [ ]:
df.review = df.review.apply(lambda x: " ".join(x for x in x.split() if x not in punctuations))
df

     label                                             review
0      neg  The Worst!: A complete waste of time. Typograp...
1      neg  sizes recomended in the size chart are not rea...
2      neg  Nothing you don't already know: If you have ev...
3      neg  Doesn't work on a Mac: It clearly says on line...
4      pos  Alaska sourdough: REad most of the book while ...
...    ...                                                ...
3084   neg  great movie massacred by tape quality: One of ...
3085   pos  classic: i got this for my dad. it is super cr...
3086   pos  Psychological thriller!: This movie really sca...
3087   pos  A little more money than what I expected to sp...
3088   neg  Don't buy: The box looked used and it is obvio...

[3089 rows x 2 columns]

In [6]:
# Conversion into Vectors using TFIDF

In [7]:
x = df.iloc[:,1].values
y = df.iloc[:,0].values

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [10]:
print(x_train.shape)
print(x_test.shape)

(7500,)
(2500,)

In [11]:
x_train[0]

'Nice show but wait for the 3D version: Wait for Black Friday or the 3D version to be released,it gonna be like LOTR Bluray all over again.First version Theatrical version(normal length)Second Version Extended Cut'

In [12]:
import numpy as np
np.unique(y_train,return_counts=True)

(array(['neg', 'pos'], dtype=object), array([3848, 3652]))

In [13]:
np.unique(y_test,return_counts=True)

(array(['neg', 'pos'], dtype=object), array([1249, 1251]))

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

In [15]:
final = Pipeline([('Vect',TfidfVectorizer()),
                  ('model',SVC())])

In [16]:
final.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('Vect',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('model',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [17]:
y_pred = final.predict(x_test)
y_pred

array(['neg', 'pos', 'neg', ..., 'neg', 'neg', 'pos'], dtype=object)

In [18]:
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix
accuracy_score(y_pred,y_test)

0.8788

In [19]:
confusion_matrix(y_pred,y_test)

array([[1101,  155],
       [ 148, 1096]])

In [21]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         neg       0.88      0.88      0.88      1256
         pos       0.88      0.88      0.88      1244

    accuracy                           0.88      2500
   macro avg       0.88      0.88      0.88      2500
weighted avg       0.88      0.88      0.88      2500

In [27]:
x_test[123]

'The worst mess ever: DO NOT ORDER THIS PRODUCT!!! This was delivered in three boxes and was bound by plastic wrap. Once out of the box, the three layers were cut with what looked like pinking shears and were horribly uneven. This was NEVER a mattress that sold for 999.00 ... When I tried to return it All Sleep was helpful at first but I could not package the layers to send. While trying to come up with a solution to the shipping problem, the UPS labels they sent to me expired and now they will not return any emails or calls. WORST SERVICE AND PRODUCT EVER!'

In [28]:
final.predict([x_test[123]])

array(['neg'], dtype=object)